.weatherModule {
    background:#f2f2f2;
    height:120px;
    width:290px;
    border: 1px dashed #ccc;
    padding: 1em;
}


.currentConditions {
    float: left;
}
.weatherModule {
    padding: 1em;
}

.currentIcon {
    float: left;
    margin: 0 .75em;
}
