.logo {
    display: block;
    position: relative;
    width: 20%;
    margin: 0 auto;
}
.logoText {
    text-align: center;
    font-size: 28px;
    font-family: Cambria;
}
.item-note {
    font-size: 10px;
    margin-top: -22px;
    margin-right: -35px;
}
.textCenter {
    text-align: center;
}